:root {
  --gradient-1: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
  --shadow-1: -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
    
  --shadow-2: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    
}


* {
  flex-shrink: 0;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  user-select: none;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  letter-spacing: 0.2rem;
  color: #fff;
  image-rendering: pixelated;
  filter: contrast(1.1) brightness(1.0) saturate(1.3);
  font-family: 'Press Start 2P', system-ui;
}


html, body, div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#text-orientation {
  display: none;
  z-index: 999;
  text-shadow: var(--shadow-1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-scene {
  background-image: url(img/bg-day.webp);
}

.score {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 99;
  font-weight: 900;
  text-shadow: var(--shadow-1);
  white-space: nowrap;
}

#record {
  left: auto;
  right: 5%;
}

#game-over {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  border-radius: 10px;
  /*background-image: var(--gradient-1);*/
  justify-content: space-around;
  display: none;
  z-index: 99;
}

.text-1 {
  text-shadow: var(--shadow-1);
}


#ufo {
  background-image: url(img/ufo.webp);
  width: auto;
  height: 10%;
  aspect-ratio: 34/20;
  position: absolute;
  top: 30%;
  left: 30%;
}

.pillar {
  width: 10%;
  height: 60%;
  background-image: url(img/pillar-bottom.webp);
  position: absolute;
  z-index: 9;
  right: -10%;
}

.top-pillar {
  top: 0%;
  background-image: url(img/pillar-top.webp);
}


/*книжные стили*/
@media (orientation: portrait) {
  /*body {
    transform: rotate(90deg) scale(1.0);
    transform-origin: center;
    width: 100vh;
    height: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }*/
  
  #game-scene {
    pointer-events: none;
    filter: contrast(1.1) brightness(0.2) saturate(1.3);
  }
  
  #text-orientation {
    display: block;
  }
}